@using Collab.Models
@using Extensions
@model PreviousModel

@{
    ViewBag.Title = "Previous Collabs";
}

<!-- Currently looking at previous -->
<div id="selected">
  @Html.Action("PreviousImage", new CollabModel() {Id = ""})
</div>

<!-- Browse Previous -->
<div id="previousCollabs">
  @foreach (var collab in Model.Collabs)
  {
    <div class="previousCollabBrowse">
      @if (collab.HasThumbnail)
      {
        <img class="thumbnail" src="@Url.Content("~/UploadedImages/Previous/{0}/thumbnail.png".ToFormat(collab.Id))" />
      }
      else
      {
        <img class="thumbnail" src="@Url.Content("~/Content/Images/no-thumbnail.png")" />
      }
      <br />
      <span class="hidden">@collab.Id</span>
    </div>
  }
</div>