<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
  <title>Col.lab - @ViewBag.Title</title>
  <link href="@Url.Content("~/Content/Css/Site.css")" rel="stylesheet" type="text/css" />
</head>
  <body>
    <div id="header">
      <span><a href="~/Art/Index">Collab</a></span>
      <ul>
        <li><a href="~/Art/Index">Current</a></li>
        <li><a href="~/Art/Previous">Previous</a></li>
      </ul>
    </div>
    <div id="content">
      @RenderBody()
    </div>
    <div id="footer"></div>
 
    <script>
      var require = {
        paths: {
          "jquery" : "jquery-2.0.3.min"
        },
        urlArgs : "v=" + (new Date()).getTime()
      };
    </script>   
    <script data-main="../Content/Scripts/main" src="@Url.Content("~/Content/Scripts/require.js")" type="text/javascript"></script>
  </body>
</html>